@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

html{
  background-image: url('./img/background.png');
  background-size: 100% 100%;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(255, 239, 220);
  font-family: 'Monda', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#detail:hover {
  color: rgb(238, 131, 0);
  cursor: pointer;
  text-decoration: underline;
}

#detail {
  color:rgb(255, 166, 57);
  text-shadow: 2px 2px #61462a;
}

button {
  background-color: rgb(230, 131, 0);
  border: none;
  padding: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px #61462a;
  border-radius: 2px;
}

button:hover {
  background-color: orange;
}

#button-center{
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 30px;
}